:root {
    --dark: #2C3333;
    --dark-green: #2E4F4F;
    --blue: #0E8388;
    --light-blue: #CBE4DE;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, var(--dark-green), var(--blue))
}

.title {
    color: rgb(230, 230, 230);
    text-align: center;
}

.title {
    margin: 2rem 0 2rem 0;
}

.tarea,
.desc-tarea {
    color: var(--dark);
    text-align: center;
    overflow-wrap: break-word;
}

.tarea {
    grid-column: 1/2;
    grid-row: 2/3;
}


#container {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    max-width: 20rem;
    background-color: var(--light-blue);
    margin: 0 auto;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

input[type="text"] {
    height: 2rem;
    width: 25%;
    border-radius: 8px;
    border: none;
}

::placeholder {
    padding: 0 1rem;
}

button {
    width: 10rem;
    border: 1px solid var(--light-blue);
    background-color: #ffffff00;
    color: rgb(230, 230, 230);
    border-radius: 8px;

}

button:hover {
    background-color: var(--light-blue);
    color: var(--dark);
    font-weight: 600;
}

.btn-delete {
    border: 1px solid black;
    color: var(--dark);
    margin: 4rem 0 0 0;
}

.btn-edit {
    border: 1px solid black;
    color: var(--dark);
    margin: 1rem 0 0 0;
}

.identificador {
    grid-column: 1/2;
    grid-row: 1/2;
}